apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "3"
  creationTimestamp: "2025-12-17T16:31:16Z"
  generation: 4
  labels:
    app: currency-conversion
  name: currency-conversion
  namespace: default
  resourceVersion: "5098"
  uid: eabac7c7-e5b6-4f00-acd7-bb0393147aa6
spec:
  progressDeadlineSeconds: 600
  replicas: 3
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: currency-conversion
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: currency-conversion
    spec:
      containers:
      - env:
        - name: CURRENCY_EXCHANGE_URI
          valueFrom:
            configMapKeyRef:
              key: CURRENCY_EXCHANGE_URI
              name: currency-conversion
        image: yashkambaria/yash-mmv2-currency-conversion-service:0.0.13-SNAPSHOT
        imagePullPolicy: IfNotPresent
        name: yash-mmv2-currency-conversion-service
        resources: {}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
status:
  availableReplicas: 3
  conditions:
  - lastTransitionTime: "2025-12-17T16:31:16Z"
    lastUpdateTime: "2025-12-17T16:47:37Z"
    message: ReplicaSet "currency-conversion-6959fc4c57" has successfully progressed.
    reason: NewReplicaSetAvailable
    status: "True"
    type: Progressing
  - lastTransitionTime: "2025-12-17T16:49:49Z"
    lastUpdateTime: "2025-12-17T16:49:49Z"
    message: Deployment has minimum availability.
    reason: MinimumReplicasAvailable
    status: "True"
    type: Available
  observedGeneration: 4
  readyReplicas: 3
  replicas: 3
  updatedReplicas: 3
