apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "3"
  labels:
    app: currency-conversion
  name: currency-conversion
  namespace: default
spec:
  replicas: 3
  selector:
    matchLabels:
      app: currency-conversion
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: currency-conversion
    spec:
      containers:
      - env:
        - name: CURRENCY_EXCHANGE_URI
          valueFrom:
            configMapKeyRef:
              key: CURRENCY_EXCHANGE_URI
              name: currency-conversion
        image: yashkambaria/yash-mmv2-currency-conversion-service:0.0.13-SNAPSHOT
        ports:
          - containerPort: 8100
        imagePullPolicy: IfNotPresent
        name: yash-mmv2-currency-conversion-service
      restartPolicy: Always