apiVersion: v1
kind: Service
metadata:
  name: currency-conversion
  namespace: default
spec:
  type: LoadBalancer
  selector:
    app: currency-conversion
  ports:
    - port: 8100
      targetPort: 8100
